.galleryPics {
    width: 350px;
    height: 500px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 15px;
}

.otherPage {
    float: right;
    margin: 20px;
    margin-right: 80px;
    display: flex;
    position: fixed;
    color: #315F48
    
}

.otherPage:hover {
 

  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
  cursor: pointer;
}

.otherPage:active {
    
    color: #E5BD99;
    /* background-color:#315F48; */
}