#resumePic, #resumePic2 {
    border-radius: 8px
}

.fa-file-pdf {
    text-align: center;
    display: flex;
    flex: auto;
    margin: auto;
    padding: auto;
    justify-content: center;
}

.fa-file-pdf:hover {
    color: skyblue;
    cursor: pointer;
}

#resumeJumbo, #resumeJumbo2 {
    margin: auto;
    border-radius: 8px;

}

@media screen and ( min-width: 0px ) and ( max-width: 299px ) {
    .setUpResume1 {display: none;}
    .setUpResume2 {display: block;}
    #resumePic2 { height: 300px!important; width: 200px!important; margin: auto; justify-content: center; display: flex };

    #resumeJumbo2 { height: 560px!important; width:100%!important; margin: auto!important; justify-content: center!important; display: flex!important}
    
}

@media screen and ( min-width: 300px ) and ( max-width: 399px ) {
    .setUpResume1 {display: none;}
    .setUpResume2 {display: block;}
    #resumePic2 { height: 480px!important; width: 280px!important; margin: auto; justify-content: center; display: flex }

    #resumeJumbo2 { height: auto!important; width:300px!important; margin: auto!important; justify-content: center!important; display: flex!important; font-size: 12px;}
    
}

@media screen and ( min-width: 400px ) and ( max-width: 1081px ) {
    .setUpResume1 {display: none;}
    .setUpResume2 {display: block;}
    #resumePic2 { height: 480px!important; width: 300px!important; margin: auto; justify-content: center; display: flex }

    #resumeJumbo2 { height: 100%!important; width:100%!important; margin: auto!important; justify-content: center!important; display: flex!important}
    
}

@media screen and ( min-width: 1081px ) and ( max-width: 1202px ) {
    .setUpResume1 {display: block;}
    .setUpResume2 {display: none;}
    #resumePic { height: 560px!important; width: 390px!important; }
    #resumeJumbo { height: 560px!important; width:550px !important; margin-left: 0px!important; }
    
}

@media screen and ( min-width: 1203px ) {
    .setUpResume1 {display: block;}
    .setUpResume2 {display: none;}
    #resumePic { height: 560px!important; width: 390px!important; }
    #resumeJumbo { height: 560px!important; width: 600px!important; }
}