#homePic {
    
    border-radius: 8px
}

#homeJumbo {
   
    border-radius: 8px;
    flex-wrap: wrap;
}


#contactMe {
    background-color: #283B36;
   box-shadow: #283B36 6px 6px 0px 0px;
   border-color: #283B36;
   width: 180px;
   height: 55px;
}

#contactMe:hover {
    box-shadow: #283B36 3px 3px 2px 2px;
    color: rgba(255, 217, 0, 0.767);
}

#contactMe:active {
    
    box-shadow:rgba(255, 217, 0, 0.767) 2px 2px 1px 1px;
}

.fa-instagram:hover {
cursor: pointer;
color: #B9348F;
border-radius: 7px;
}

.fa-youtube:hover {
    cursor: pointer;
    color: red;

}

.fa-twitter-square:hover {
    cursor: pointer;
    color: #1DA1F2
}

h3 {
    color:#283B36
}
 
hr {
    background-color:rgba(255, 217, 0, 0.767);
}
@media screen and ( min-width: 774px ) and ( max-width: 887px ) {
    img#homePic  { height: 570px!important; }
    #homeJumbo { height: 570px; width: 100%;}
    /* .fa-instagram, .fa-twitter-square, .fa-youtube {
     margin: 3px; padding: 4px;
    } */
    }

@media screen and ( min-width: 888px )and ( max-width: 1024px ) {
    img#homePic  { width: 80%; height: 570px;}
    .fa-instagram, .fa-twitter-square, .fa-youtube {
     margin: 3px; padding: 4px;
    }
    }

@media screen and ( min-width: 1025px ) and ( max-width: 1080px ) {
    img#homePic  { width: 80%; }
    #homeJumbo { height: 570px; width: 100%;}
    
    }

@media screen and ( min-width: 1081px ) {
    img#homePic { height: 570px; width: 80%;};
    #homeJumbo { height: 570px; width: 100%;}
    }

    