.nav-item > .active {
    border-bottom: 1px solid #333;
    color: white;
    text-decoration: none;
    
}
.nav-item {
    color: white;
    padding: 5px;
    background-color: #315F48;
    text-align: center;
    
}

.contactMeNav {
    border-radius: 0px 0px 20px 20px;
}
.nav-item:hover {
    border: .5px solid;
    border-color: rgb(179, 179, 179);
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 5px;
}

.nav-item > .active {
    border-color: gold;
    color: white;
    text-decoration: none;
    color: whitesmoke;
}

.active {
    border-color: gold;
    color: gold;
    text-decoration: none;
}

.active:hover {
    border-color: gold;
    color: gold;
    text-decoration: none;
    
}

.navbar {
    background-color: #315F48;
    height: 100px;
    
}

#nameTitle {
    color: gold;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
