.galleryPics {
    width: 95%;
    height: 100%;
    margin: 10px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.otherPage {
    float: right;
    margin: 20px;
    margin-right: 80px;
    display: flex;
    position: fixed;
    color: #315F48
    
}

.otherPage:hover {
 

  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
  cursor: pointer;
}

.otherPage:active {
    
    color: gold;
    /* background-color:#315F48; */
}

@media screen and ( min-width: 0px ) and (max-width: 649px){
    .gallerySetUp1 { display: none }
    .gallerySetUp2 { display: block }
    
}

@media screen and ( min-width: 650px ) and (max-width: 1080px){
    .gallerySetUp1 { display: block }
    .gallerySetUp2 { display: none }
    
}

@media screen and ( min-width: 1081px ) and (max-width: 1999px){
    .gallerySetUp1 { display: block }
    .gallerySetUp2 { display: none }
    
}

@media screen and ( min-width: 1200px ) {
    .gallerySetUp1 { display: block }
    .gallerySetUp2 { display: none }

}