.contactPics {
    box-shadow: rgb(227, 219, 219) 0px 2px 2px 2px;
    border-radius: 10px;
}

.contactForm {
    box-shadow: rgb(227, 219, 219) 0px 2px 2px 2px;
    border-radius: 10px;
}

#send {
    background-color: #283B36;
   box-shadow: #283B36 6px 6px 0px 0px;
   border-color: #283B36;
   width: 150px;
   height: 35px;
}

#send:hover {
    box-shadow: #283B36 2px 2px 2px 2px;
    color: rgba(255, 217, 0, 0.767);
}

#send:active {
    
    box-shadow:rgba(255, 217, 0, 0.767) 2px 2px 1px 1px;
}
.toastyContainer {
    border-radius: 10px!important;
    color: black!important;
}

@media screen and ( min-width: 0px ) and ( max-width: 299px ) {
    .contactSetUp1 {display: none;}
    .contactSetUp2 {display: block;}
    .contactPics, .contactPics2 { width: 240px; height: 380px; margin: auto; display: flex; }
    .contactForm, .contactForm2 { width: 100%; height: 600px; margin: auto; display: flex; }
    
}

@media screen and ( min-width: 300px ) and ( max-width: 459px ) {
    .contactSetUp1 {display: none;}
    .contactSetUp2 {display: block;}
    .contactPics, .contactPics2 {  width: 300px; height: 400px; margin: auto; display: flex; }
    .contactForm, .contactForm2 { width: 100%; height: 580px; margin: auto; display: flex; }
    
}

@media screen and ( min-width: 460px ) and ( max-width: 1081px ) {
    .contactSetUp1 {display: none;}
    .contactSetUp2 {display: block;}
    .contactPics, .contactPics2 { width: 430px; height: 600px; margin: auto; display: flex; }
    .contactForm, .contactForm2 { width: 500px; height: 600px; margin: auto; display: flex; }
    
}

@media screen and ( min-width: 1081px ) and ( max-width: 1202px ) {
    .contactSetUp1 {display: block;}
    .contactSetUp2 {display: none;}
    .contactPics, .contactPics2 { width: 430px; height: 600px; }
    .contactForm, .contactForm2 { width: 500px; height: 600px; }
    
}

@media screen and ( min-width: 1203px ) {
    .contactSetUp1 {display: block;}
    .contactSetUp2 {display: none;}
    .contactPics, .contactPics2 { width: 450px; height: 600px; }
    .contactForm, .contactForm2 { width: 600px; height: 600px; }
}