.nav-item > .active {
    border-bottom: 1px solid #333;
    color: white;
    text-decoration: none;
    
}
.nav-item {
    color: white;
    padding: 5px;
}

.nav-item:hover {
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
}

.nav-item > .active {
    border-bottom: 1px solid #333;
    color: white;
    text-decoration: none;
    color: whitesmoke;
}

.active {
    border-bottom: 1px gold;
    color: gold;
    text-decoration: none;
}

.active:hover {
    border-bottom: 1px gold;
    color: gold;
    text-decoration: none;
    
}

.navbar {
    background-color: #315F48;
    height: 100px;

}

#nameTitle {
    color: gold;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}