.nav-item > .active {
    border-bottom: 1px solid #333;
    color: white;
}
.nav-item {
    color: white;
    padding: 5px;
}

.nav-item:hover {
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
}